{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": { "optimizeForSpeed": true }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components"
        }
      }
    ]
  ]
}
